.navbar{
display:flex;justify-content:space-between;align-items:center;
background-color:#404d4f;position:sticky;top:0;left:0;height:60px;border:5px solid;
}
.navbar ul{
list-style:none;
position:fixed;
display:flex;
top:0; left:0;
padding:0 100px;
}
.navbar ul li a{
padding:70px;font-size:2rem;font-family:cursive;margin-top:5px;
font-weight:bold;color:white;text-decoration:none;
}
.navbar ul li a:hover{
color:black;
}
.logo img{
    border-radius: 50%;
    width: 70px;
}

